

#nav-div{
    height: auto;
  }
  
  #nav-search-box{
      display: none;
    }



    .personal-info-pannel{
        padding-inline: 19vw;
        padding-block: 4vh;
    }
    h2{
        letter-spacing: -.3px;
        font-weight: 800;
        margin-top: 1rem;
    }
    a{
        color: #111;
        font-weight: 600;       
    }    
    h5{
        font-size: 1.2rem;
        font-weight: 700;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
        border-bottom: .5px solid #dfdfdf;
    }
    h6{
        font-size: .85rem;
    }
    h6 i{
        font-size: .83rem;
        color: #313131;
    }
    .info-detail-pannel{
        margin: 3.5rem 0;
        padding: 10px 0;
    }
    .info-detail-pannel .info{       
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-between;
    }
    .info-detail-pannel .info .h6-lable{
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: -.1px;      
    }
    .info-detail-pannel .info .h6-data{
        font-weight: 400;
        font-size: .95rem;
        color: #555555;
        letter-spacing: -.1px;
    }
    .info-detail-pannel .info span{
        font-weight: 600;
        font-size: .9rem;
    }
    .edit-btns{
        height: fit-content;
        width: fit-content;
        cursor: pointer;
    }   
    .btn{
        font-size: .98rem;
        font-weight: 600;
        padding: 8px 14px !important;
    }
    .edit-btns span{
        padding: 2px;     
        color: #272727;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.25s;
    }   
    .edit-btns span:hover{
        color: #000;
    }
    .details-and-form{
        margin-bottom: 1.85rem;
        padding: 0 0 20px;
        border-bottom: .5px solid #dfdfdf;
        user-select: none;
    }
    .edit-form{
        width: 40vw;       
        min-width: 100%;
        margin-bottom: 1.5rem;
    }
    .lable-and-input{
        margin-bottom: .65rem;
    } 
    .edit-form input{
        padding: 10px;
        margin-top: -.1rem !important;  
        border: .25px solid rgb(134, 134, 134);  
    }  
    select{      
        margin-top: -.25rem !important;  
        padding: 10px !important;
        border: .25px solid rgb(134, 134, 134) !important;  
    }  
    .hide{
        display: none;
    }
    .pointer-none{
        color: rgb(182, 182, 182);
        pointer-events: none !important;
    }


    span.update{        
        text-decoration: underline;
        text-underline-offset: 2px;
    }
    button.edit{
        color: #272727;
        border: none;
        background-color: transparent;
        text-decoration: underline;
        font-weight: 600;
        font-size: .9rem; 
        padding: 2px;     
    }
    button.edit:hover{
        color: #000;
    }

    #strengthMessage{
        margin-top: 0;
        font-size: .87rem;
    }


    /* #strengthBarWrapper {
        width: 100%;
        height: 10px;
        background-color: #ddd;
        margin-top: 5px;
        border-radius: 5px;
      }
    
      #strengthBar {
        height: 100%;
        width: 0%;
        border-radius: 5px;
        transition: width 0.3s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      }
    
      #strengthLabel {
        margin-top: 5px;
        font-weight: bold;
      } */



      @media screen and (max-width : 1000px) {
        .personal-info-pannel{
            padding-inline: 12vw;
            padding-block: 4vh;
        }
      }

      @media screen and (max-width : 600px) {
        .personal-info-pannel{
            padding-inline: 6vw;
            padding-block: 4vh;
        }
      }
 